---
title: "The Wedding of Julie Bilbro & David Bettis"
---

.title
  .intro
    %span.small-caps
      Mr. and Mrs. Tom and Sharon Bilbro
    %br
    %span
      joyfully invite guests to the wedding of their daughter
  %img{:src => "/images/julie.png", :width => 192, :height => 50}
  %h1.top-title Amanda Bilbro
  %p to
  %img{:src => "/images/david.png", :width => 220, :height => 50}
  %h1.top-title William Bettis

.aww
  %img{:src => "/images/dave-and-julie.jpg"}

.content
  %h1 Invitations
  .invitations
    %p
      We are humbled by the love and care various communities have provided us over the years. In great gratitude and thanks, we would like to extend an open invitation to the following groups: the community of
      %a{:href => "https://cpcissaquah.org/", :target => "_blank"}
        Covenant Presbyterian Church
      in Issaquah, WA; the community of
      %a{:href => "https://ambrose.church/", :target => "_blank"}
        St. Ambrose Anglican Church
      in Seattle, WA; residents, former residents, and friends of "The 2817."
  %h1 Event Details
  .event-details
    %p The wedding will be at 2:00pm on Saturday, February 15th, 2020.
    %p A reception will be held afterwards.
    %p
      Both events will be held at:
      %blockquote
        %b Covenant Presbyterian Church
        %br
        22116 SE 51st Pl,
        %br
        Issaquah, WA 98029
        %br
        %a{:href => "https://goo.gl/maps/UfCATBk7wP49Tmu67", :target => "_blank"}
          Google Maps
    %p
      There is parking at the church. In the event it fills up, an overflow lot is available next door, half a block to the south at BMC Building & Construction <a href="https://goo.gl/maps/CQw8L2fuNykELCfJ8" target="_blank">(Google Maps)</a>.
 
  %h1 RSVP
  .rsvp
    %p
      Send RSVPs to <a href="mailto:david@davidbettis.com?subject=RSVP&body=Number%20of%20adults:%20____;%20Number%20of%20kids:%20___" target="_blank">david@davidbettis.com</a>. Spouses, significant others, and kids are welcome.  To assist in planning, please include the total number of adults and children in your party.
    %p We kindly ask that you RSVP by January 20, 2020.
  %h1 Registry
  .registry
    We are registered at the locations below. Thank you for your generosity.
    .registry-logos
      .registry-logo-container
        .registry-logo-block
          %a{:href => "https://www.crateandbarrel.com/gift-registry/david-bettis-and-julie-bilbro/r6072683", :target => "_blank"}
            %img{:src => "/images/crate-barrel-logo.png", :width => 146, :height => 23, :alt => "Crate and Barrel", :style => "padding-right: 20px"}
        .registry-logo-block
          %a{:href => "https://www.westelm.com/registry/rlxppkkcsq/registry-list.html", :target => "_blank"}
            %img{:src => "/images/west-elm.png", :width => 157, :height => 25, :alt => "Crate and Barrel"}
      .registry-logo-container
        .registry-logo-block
          %a{:href => "https://www.amazon.com/wedding/david-bettis-julie-bilbro-issaquah-february-2020/registry/2O33SWH17IE7B", :target => "_blank"}
            %img{:src => "/images/amazon-logo.png", :alt => "Amazon", :width => 100, :height => 50}
        .registry-logo-block
          %a{:href => "https://www.wayfair.com/registry/wedding/JulieAndDavid02.15.2020", :target => "_blank"}
            %img{:src => "/images/wayfair.png", :alt => "Wayfair", :width => 111, :height => 50}
        .registry-logo-block
          %a{:href => "https://www.myregistry.com/rei/wedding-registry/david-bettis-and-julie-bilbro-fall-city-wa/2252826", :target => "_blank"}
            %img{:src => "/images/rei.png", :alt => "REI", :width => 81, :height => 50}
        .registry-logo-block
          %a{:href => "https://www.honeyfund.com/wedding/JulieAndDave", :target => "_blank"}
            %img{:src => "/images/honeyfund.png", :alt => "Honeyfund", :width => 120, :height => 45}

