---
title: "David Bettis"
---
.content
  %h1 Hello
  .hello
    My name's David Bettis, and I'm a software developer in the Pacific Northwest. 

  %h1 Side Projects
  .side-projects
    %h2 Health Insurance Analyzer
    
    If you're so lucky to work for a company that provides healthcare,
    sometimes they provide different options. At Amazon, there are <i>five</i>
    different options, all with a dizzying array of parameters, which makes it
    somewhat opaque knowing which plan is the best for your situation. I wrote a
    %a{:href => '/health-insurance/'}health insurance analyzer tool
    that tries to illuminate the assumptions and calculate the cost, depending
    on how much you plan to spend on care in a given year. Written in React. Source for the project can be found on
    %a{:href => 'https://github.com/davidbettis/health-insurance'}Github.

    %h2 Daily Office
    
    The
    %a{:href => '/daily-office/'} Daily Office
    is an historic Christian devotional. This web site guides you through a
    set of scripture readings and liturgical prayers, according to the
    %a{:href => 'http://anglicanchurch.net'} Anglican (ACNA)
    tradition. The frontend is in React; the backed in Python and the source for the project can be found on
    %a{:href => 'https://github.com/davidbettis/daily-office'}Github.

    %h2 Asset Allocation

    In the late 2000s, companies like Betterment and Wealthfront became
    popular, which charge a percentage of your assets to manage your investments.
    As you save more, do these companies really provide additional value? I don't
    think so. This is a free 
    %a{:href => 'https://docs.google.com/spreadsheets/d/1XEg9V8JoV8Fn9WFm0S22cJDUvJZLH8whZE-jDyFahhE/edit?usp=sharing'}
      Asset Allocation Spreadsheet
    to keep your asset allocations in check. It pulls real-time stock quotes and
    gives directions on how much to buy/sell.  To use it, click on the link above
    and select "File -> Make a Copy".

  %h1 Contact
  .contact
    %a.icon-twitter.social-button.color{:href => "http://twitter.com/enthalpyx"}
    %a.icon-linkedin.social-button.color{:href => "http://www.linkedin.com/in/davidbettis/"}
    %a.icon-github.social-button.color{:href => "https://github.com/davidbettis"}

