- content_for(:title, "David Bettis")

.container
  .row
    .span2
      %h1 Hello!
      %h3 I'm David Bettis, a software developer in the Pacific Northwest.
      .top-padded{:style => "padding-top: 20px; text-align: center;"}
        %a.btn.btn-xlarge.btn-twitter{:href => "http://twitter.com/enthalpyx"}
          %i.fa.fa-2x.fa-twitter
        %a.btn.btn-xlarge.btn-linkedin{:href => "http://www.linkedin.com/in/davidbettis/"}
          %i.fa.fa-2x.fa-linkedin
        %a.btn.btn-xlarge.btn-github{:href => "https://github.com/davidbettis"}
          %i.fa.fa-2x.fa-github
    
