---
title: "David Bettis"
---
.content
  %h1 Hello
  .hello
    My name's David Bettis, and I'm a software develo^H^H^H^H^H^Hmanager in the Pacific Northwest.

  %h1 Side Projects
  .side-projects
    %h2 Shapes

    A
    %a{:href => '/shapes/'}fun abstract-art thing
    written in Rust, using WebAssembly. Inspired by an
    %a{:href => 'https://en.wikipedia.org/wiki/After_Dark_%28software%29'}After Dark
    screensaver from the early 90s. Source available on 
    %a{:href => 'https://github.com/davidbettis/shapes'}Github.

    %h2 Daily Office
    
    In 2020, I built a web site to go through ACNA's daily office, an historic Christian devotional. Since then,
    %a{:href => 'https://www.dailyoffice2019.com/'}another project
    backed by
    %a{:href => 'https://anglicanhousepublishers.org/'}Anglican House Publishing
    has finished all the things I set out to do. I commend
    %a{:href => 'https://www.dailyoffice2019.com/'}it
    to you! You can still find the source for my older, now unmaintained, project over on 
    Github (
    %a{:href => 'https://github.com/davidbettis/daily-office'}daily-office
    +
    %a{:href => 'https://github.com/davidbettis/daily-office-scripture'}daily-office-scripture
    ).

  %h1 Interesting Places
  .places
    %ul
      %li
        %a{:href => 'https://news.ycombinator.com'}
          Hacker News
        \- technology and startup news
      %li
        %a{:href => 'https://www.kexp.org/'}
          KEXP
        \- music discovery sans algorithm
      %li
        %a{:href => 'https://www.lowtechmagazine.com/'}
          Low Tech Magazine
        \- combining old technologies with new knowledge
      %li
        %a{:href => 'https://mbird.com/'}
          Mockingbird
        \- never moving beyond the need to hear grace

  %h1 Contact
  .contact
    %a.icon-linkedin.social-button.color{:href => "http://www.linkedin.com/in/davidbettis/"}
    %a.icon-github.social-button.color{:href => "https://github.com/davidbettis"}

