- content_for(:title, "David Bettis")

.container
  .row
    .span2
      %h1 davidbettis.com

      %h2 Hello

      My name's David Bettis, and I'm a software developer in the Pacific Northwest.

      %h2 Software

      I write software all day. To mix things up, I like to read and be active when not at work, so this section is pretty small.  Nevertheless, here are some homegrown bits of software the world may find useful.

      %h3 Asset Allocation

      %a{:href => 'https://docs.google.com/spreadsheets/d/1XEg9V8JoV8Fn9WFm0S22cJDUvJZLH8whZE-jDyFahhE/edit?usp=sharing'}
        Asset Allocation Spreadsheet

      If there's one thing working at Amazon has taught me, it's the value of frugality and investing.  This is a free Google Sheets spreadsheet I created to keep asset allocations in check.  It pulls real-time stock quotes and gives directions on how much to buy/sell.  To use it, click on the link above and select "File -> Make a Copy".

      %h2 Contact

      .top-padded{:style => "padding-top: 20px; text-align: center;"}
        %a.btn.btn-xlarge.btn-twitter{:href => "http://twitter.com/enthalpyx"}
          %i.fa.fa-2x.fa-twitter
        %a.btn.btn-xlarge.btn-linkedin{:href => "http://www.linkedin.com/in/davidbettis/"}
          %i.fa.fa-2x.fa-linkedin
        %a.btn.btn-xlarge.btn-github{:href => "https://github.com/davidbettis"}
          %i.fa.fa-2x.fa-github

