---
title: "David Bettis"
---
.content
  %h1 Hello
  .hello
    My name's David Bettis, and I'm a software developer in the Pacific Northwest. 

  %h1 Side Projects
  .side-projects
    %h2 Shapes

    A
    %a{:href => '/shapes/'}fun abstract-art thing
    written in Rust, using WebAssembly. Inspired by an
    %a{:href => 'https://en.wikipedia.org/wiki/After_Dark_%28software%29'}After Dark
    screensaver from the early 90s. Source available on 
    %a{:href => 'https://github.com/davidbettis/shapes'}Github.

    %h2 Daily Office
    
    The
    %a{:href => '/daily-office/'} Daily Office
    is an historic Christian devotional. This web site guides you through a
    set of scripture readings and liturgical prayers, according to the
    %a{:href => 'http://anglicanchurch.net'} Anglican (ACNA)
    tradition. The frontend is in React; the backed in Python and the source for the project can be found on
    %a{:href => 'https://github.com/davidbettis/daily-office'}Github.

  %h1 Interesting Places
  .places
    %ul
      %li
        %a{:href => 'https://news.ycombinator.com'}
          Hacker News
        \- technology and startup news
      %li
        %a{:href => 'https://www.kexp.org/'}
          KEXP
        \- music discovery sans algorithm
      %li
        %a{:href => 'https://www.lowtechmagazine.com/'}
          Low Tech Magazine
        \- combining old technologies with new knowledge
      %li
        %a{:href => 'https://mbird.com/'}
          Mockingbird
        \- never moving beyond the need to hear grace

  %h1 Contact
  .contact
    %a.icon-twitter.social-button.color{:href => "http://twitter.com/enthalpyx"}
    %a.icon-linkedin.social-button.color{:href => "http://www.linkedin.com/in/davidbettis/"}
    %a.icon-github.social-button.color{:href => "https://github.com/davidbettis"}

